<h1>New Topic</h1>

<div clas="form-group">

<%= render "form.html", Map.put(assigns, :action, Routes.topic_path(@conn, :create)) %>

</div>

<span><%= link "Back", to: Routes.topic_path(@conn, :index) %></span> 
